# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build directories
dist/
build/

# Temporary files
tmp/
temp/
.cache/

# Operating system files
.DS_Store
Thumbs.db

# IDE or editor specific files
.idea/
.vscode/

# Excel files (if you don't want to track them)
*.xlsx

# Other potential files to ignore
*.tgz
*.zip
